{project_plugins, [rebar3_ex_doc, erlfmt]}.
{erl_opts, [debug_info]}.
{deps, []}.

{ex_doc, [
    {extras, [
        {'CHANGELOG.md', #{title => <<"Changelog">>}},
        {'README.md', #{title => <<"Overview">>}},
        {'LICENSE', #{title => <<"License">>}}
    ]},
    {main, <<"readme">>},
    {source_url, <<"https://github.com/joaohf/rebar3_external">>},
    {api_reference, false}
]}.

{hex, [{doc, ex_doc}]}.
